{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Todos os RaDops</h4>
              <p class="card-category">Aqui está as informações de todos os radares</p>
            </div>
            <div class="card-body">
              <div class="list-group">
                {% for radar in radar_list %}
                  <a href="{% url 'radar:detail' radar.name %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ radar.name }}</h4>
                  </a>
                  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
